{% load static %}

<!DOCTYPE html>
<html lang ="eng">
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Superhero Index</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'styles.css'%}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <h1 class="page-header">List of Villains</h1>
            </div>

            <div class="row">
              <div class="col-8">
                    <ul>
                        {% for villain in all_villains %}
                        <li><h1>{{villain.name}}
                            <a href="{% url 'villains:detail' villain.id %}">View Details</a> 
                            <a href="{% url 'villains:delete' villain.id %}">Delete</a> 
                        {% endfor %}
                    </ul>
              </div>

              <div class="col-4">
                <!-- empty column to clearly show hulk picture -->
              </div>
            </div>

            <div class="row">
                <p><a class="button" href="{% url 'superheroes:index' %}">Back to Home</a></p>
            </div>
          </div>

    </body>
</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>