{% load static %}

<!DOCTYPE html>
<html lang ="eng">
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Superhero Index</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'styles.css'%}">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <h1 class="page-header">Create New Hero</h1>
            </div>

            <div class="row">
                <form action ="{% url 'superheroes:create' %}" method="post">
                    {% csrf_token %}
                    <h1 class="details-page">Name: <input type="text" name="name" id="name"><br></h1>
                    <h1 class="details-page">Alter Ego: <input type="text" name="alter_ego" id="alter_ego"><br></h1>
                    <h1 class="details-page">Primary Ability: <input type="text" name="primary_ability" id="primary_ability"><br></h1>
                    <h1 class="details-page">econdary Ability: <input type="text" name="secondary_ability" id="secondary_ability"><br></h1>
                    <h1 class="details-page"> Catchphrase: <input type="text" name="catchphrase" id="catchphrase"><br></h1>
                    <input type="submit" value="Add!">
                </form>
        </div>

        <div class="row">
            <p><a class="button" href="{% url 'superheroes:index' %}">Back to Home</a></p>
        </div>
    </div>

    </body>
</html>