{% load static %}

<!DOCTYPE html>
<html lang ="eng">
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Superhero Index</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'styles.css'%}">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <p class="delete-confirm">Are you sure you want to delete?</p>
            </div>

            <div class="row">
                <form action ="" method="post">
                    {% csrf_token %}
                    <input class="btn btn-danger" type="submit" value="Yes"> 
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{% url 'superheroes:index' %}">Cancel</a>
                </form>
    
        </div>

        <div class="row">
            <p><a class="button" href="{% url 'superheroes:index' %}">Back to Home</a></p>
        </div>
    </div>

    </body>
</html>