<!DOCTYPE html>
<html lang ="eng">
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Superhero Index</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h2>List of Superheroes<h1>
        <ul>
            {% for hero in all_heroes %}
            <li><h1>{{hero.name}}
                <a href="{% url 'superheroes:detail' hero.id %}">View Details</a> 
                <a href="{% url 'superheroes:update' hero.id %}">Update</a>
                <a href="{% url 'superheroes:delete' hero.id %}">Delete Hero</a></h1></li> 
            {% endfor %}
        </ul>
        <a href="{% url 'superheroes:create' %}">Create New Superhero</a>
    </body>
</html>