{% load static %}

<!DOCTYPE html>
<html lang ="eng">
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Superhero Index</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'styles.css'%}">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <h1 class="page-header">Update Superhero</h1>
            </div>

            <div class="row">
                <form action ="{% url 'superheroes:update' single_hero.id %}" method="post">
                    {% csrf_token %}
                    <h1 class="details-page">Name: <input type="text" name="name" id="name" value="{{single_hero.name}}"><br></h1>
                    <h1 class="details-page">Alter Ego: <input type="text" name="alter_ego" id="alter_ego" value="{{single_hero.alter_ego}}"><br></h1>
                    <h1 class="details-page">Primary Ability: <input type="text" name="primary_ability" id="primary_ability" value="{{single_hero.primary_ability}}"><br></h1>
                    <h1 class="details-page">Secondary Ability: <input type="text" name="secondary_ability" id="secondary_ability" value="{{single_hero.secondary_ability}}"><br></h1>
                    <h1 class="details-page">Catchphrase: <input type="text" name="catchphrase" id="catchphrase" value="{{single_hero.catchphrase}}"><br></h1>
                    <h1 class="details-page">Villain: 
                        <select name="villain" id="villain"><br>
                            {% for villain in all_villains %}
                            <option><h1>{{villain.name}}</option></h1>
                            {% endfor %}
                            <option><h1>None</option></h1>
                        </select>
                        <a href="{% url 'villains:create' %}" >Create New Villain </a></h1>
                    <input type="submit" value="Update!">
                </form>
            </div>

            <div class="row">
                <p><a class="button" href="{% url 'superheroes:index' %}">Cancel - Back to Home</a></p>
            </div>
          </div>
    </body>
</html>